@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mod Team Tracker</h1>
    <h3 class="display-6 mb-5">Track your moderation team on any social media platform.</h3>
    
@*
    <div class="container d-flex mt-5">
    <div class="card" style="width: 18rem; margin=16rem; height=288px;">
  <img class="card-img-top" src="~/generic-email-header-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Twitch</h5>
    </div>
    </div>



          <div class="card " style="width: 18rem;  margin=16rem; height=288px;">
  <img class="card-img-top" src="~/discord-logo.svg" alt="Card image cap" height="144px">
  <div class="card-body">
    <h5 class="card-title">Discord</h5>
    </div>
    </div>
  *@
  </div>
  <div>
    <h3 class="px-5">Currently Supported: </h3>
  <div class="card-group p-5">
    
  <div class="card">
  <img class="card-img-top" src="~/generic-email-header-1.jpg" alt="Card image cap">
    <div class="card-footer">
      <h5 class="">Twitch</h5>
      @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
    </div>
  </div>
  <div class="card">
  <img class="card-img-top mb-auto mt-auto" src="~/discord-logo.svg" alt="Card image cap" height="144px">
    <div class="card-footer">
    <h5 class=" ">Discord</h5>
      @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
    </div>
  </div>


</div>
</div>

